body{
    background-color: silver ;
    background-image: url(https://wallpaperaccess.com/full/2745606.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
}
header{
    text-align: center;
    font: 15px Georgia, serif;
    background-color:rgba(183,196,215,0.5);
    // margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(183,196,215,0.5);
    text-align: center;
}