#detailedHistory{
    background-color:rgba(183,196,215,0.5);
    font-weight: bolder;
    float: right;
    padding: 5px; 
    margin-top: 150px;
    width: 45%;
    margin-left : 30px;
    margin-right: 30px;
}

#history2{
    background-color:rgba(183,196,215,0.5);
    font-weight: bolder;
    float: left;
    padding: 1px; 
    margin-top: 150px;
    width: 45%;
    margin-left : 30px;
    margin-right: 30px;
}